@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "PublicUser";
}
<div class=" Public User Interface">
    <h1>Public User Interface </h1>
    <br />
</div>

<div class=" Display Data">
    <h4>Display Data</h4><textarea id="TextArea1" rows="2" cols="20"></textarea>
</div>
<br />

<div class=" Warnings or Clearance">
    <h4>Warnings or Clearance</h4><textarea id="TextArea1" rows="2" cols="20"></textarea>
</div>
<br />

<div class=" OK " Analysis>
    <input id="OK" type="button" value="OK" />
</div>