@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "SensorInterface";
}
<div class=" Dissolved Oxygen">
    <h4>Dissolved Oxygen</h4> <h5> Units: mg/L </h5> <input id="dissolved oxygen" type="text" />
</div>
<div class=" Temperature">
    <h4>Temperature</h4> <h5> Units: °F (Fahrenheit) </h5><input id="temperature" type="text" />
</div>
<div class=" pH Level of Water">
    <h4>pH Level of Water</h4> <h5> Units: pH </h5><input id="pH" type="text" />
</div>
<div class=" Radiochemical Isotopes">
    <h4>Radiochemical Isotopes</h4> <h5> Units: pH </h5><input id="Radiochemical Isotopes" type="text" />
</div>
<div class=" Stable Isotope Analysis">
    <h4> Stable Isotopes Analysis</h4> <h5> Units: mol </h5><input id="Stable Isotopes" type="text" />
</div>
<div class=" Resistance ">
    <h4> Resistance </h4> <h5> Units: Ω (Ohms) </h5><input id="Resistance" type="text" />
</div>
<div class=" Voltage ">
    <h4> Voltage </h4> <h5> Units: V (Volts) </h5><input id="Voltage" type="text" />
</div>
<div class=" Current Speed " Analysis>
    <h4> Current Speed </h4> <h5> Units: secs (seconds) </h5><input id="Current Speed" type="text" />
</div>
<div class=" Water Level " Analysis>
    <h4> Water Level </h4> <h5> Units: cfs (cubic feet per seconds) </h5><input id="Water " type="text" />
</div>