@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "UserInterface";
}

<div class="container">

    <p></p>

    <p>@Html.ActionLink("Public User", "PublicUserLandingPage", "HomeTrial")</p>
    


    <p></p>

    <p>@Html.ActionLink("Laboratory User", "LaboratoryUserLandingPage", "HomeTrial")</p>


</div>
